* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(214, 214, 214);
}

header nav li {
    display: inline;
    font-size: 18px;
    margin-left: 16px;
}

header .conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    padding: 16px 0;
    background-color: rgb(34, 34, 34);
    color: rgb(221, 219, 219);
}

header nav li a {
    color:rgb(221, 219, 219);
    text-decoration: none;
    margin-right: 48px;
    font-family: 'Bungee', sans-serif;
    font-weight: normal;
}
header nav li a:hover {
    text-decoration: underline;
}

header h1 {
    font-size: 34px;
}

.conteiner {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.logo_apb {
    height: 400px;
}

section .conteiner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

section {
    padding: 24px 0;
}

section h2 {
    margin-bottom: 8px;
    font-family: 'Bungee', sans-serif;
    font-weight: normal;
   color:rgb(19, 19, 19);
}

section p {
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

.logo_apb {
    margin-right: 32px;
}

.marcas img {
    height: 24px;
    margin-top: 8px;
}

.marcas li {
    display: inline;
    margin-right: 8px;
}

.social-links img {
    height: 32px;
    cursor: pointer;
    border-radius: 50%;
}

.social-links li {
    display: inline;
    margin-right: 8px;
}

#contact .conteiner {
    display: block;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
}
form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 180px;
}

.social-links li a {
    text-decoration: none;
}

section h3 {
    color: rgb(19, 19, 19);
    margin-bottom: 16px;
}

form button {
    background-color: rgb(19, 19, 19);
    color: white;
    font-family: 'Bungee', sans-serif;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: rgb(56, 55, 55);
}

input:focus,textarea:focus {
    outline-color: rgb(19, 19, 19);
}

footer {
    background-color: rgb(19, 19, 19);
    color: white;
    padding: 16px 0;
}
#contacth2 {
    color: rgb(19, 19, 19);
    font-weight: normal;
}

#talk {
    font-family: 'Bungee', sans-serif;
    font-weight: normal;
}